<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center px-0">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="col-lg-12 cold-md-12 mx-auto p-0">
          <div class="input-group subscription-form">
            <label class="d-none d-print-block sr-only" for="Password">
              {{- 'general.password_page.login_form_password_placeholder' | t -}}
            </label>
            <input
              type="password"
              placeholder="{{ 'general.password_page.login_form_heading' | t }}"
              class="{% if form.errors contains 'email' %}input-error{% endif %} form-control"
              name="password"
              id="Password"
              spellcheck="false"
              autocomplete="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {% endif %}
              autocapitalize="off"
              required="required"
              autofocus
            >
            <span class="input-group-btn submit">
              <button
                class="btn btn-contact rounded__btn"
                type="submit"
                name="commit"
                id="passwordLogin"
                aria-label="{{ 'general.password_page.login_form_submit' | t }}"
              >
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </span>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
