<section class="reset section my-5">
  <div class="container">
    <div class="row">
      <!-- reset password -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          {% form 'reset_customer_password' %}
            <div class="form-reset-password">
              <h2 class="heading-text text-left">{{ 'customer.reset_password.title' | t }}</h2>
              <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
              {% if form.errors %}
              {% for field in form.errors %}
              <div id="password-reset-error" class="alert alert-danger cart-info-bg mt-0 mb-2 text-left rounded-0 w-100 mx-auto" role="alert">
                {% if field == 'form' %}
                  {{ form.errors.messages[field] }}
                {% else %}
                  <span class="password-reset-error-confirmation mb-0 mt-2 cart-text-drawer text-dark">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </span>
                {% endif %}
              </div>
              {% endfor %}
              {% endif %}
              {% if form.posted_successfully? %}
                <div id="reset-success" class="alert alert-info bg-transparent border cart-info-bg mt-2 mb-0 text-center rounded-0 w-50 mx-auto" role="alert">
                  <span class="newsletter-confirmation mb-0 mt-2 cart-text-drawer text-dark">
                    {{ 'customer.activate_account.subtext' | t }}
                  </span>
                </div>
              {% endif %}
              <div class="form-group row">
                <div class="col-sm-12">
                  <label class="d-print-block sr-only" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
                  <input
                    type="password"
                    placeholder="{{ 'customer.reset_password.password' | t }}"
                    class="{% if form.errors contains 'password' %}input-error{% endif %} form-control password-validate"
                    name="customer[password]"
                    id="ResetPassword"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    autofocus>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <label class="d-print-block sr-only" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
                  <input
                    type="password"
                    placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                    class="{% if form.errors contains 'password_confirmation' %}input-error {% endif %}form-control password-validate"
                    name="customer[password_confirmation]"
                    id="PasswordConfirmation"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    autofocus>
                </div>
              </div>
              <!-- button  -->
              <div class="col-xs-12 col-sm-12 col-md-12 p-0 mt-3">
                <div class="login-button-container clearfix">
                  <div class="col-xs-6 sign-in">
                    <input id="resetPasswordBtn"
                           type="submit"
                           class="btn btn-contact"
                           aria-label="{{ 'customer.reset_password.submit' | t }}"
                           value="{{ 'customer.reset_password.submit' | t }}" disabled>
                    </div>
                  </div>
                </div>
                <!-- end button -->
              </div>
            {% endform %}
          </div>
        </div>
      <!-- end reset password -->
    </div>
  </div>
</section>

<script defer src="{{ 'customer.js' | asset_url }}"></script>
