<!doctype html>
<html class="no-js supports-no-cookies pb-0" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon_logo != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon_logo | img_url: '96x' }}" type="image/png" />
    {% else %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}
    <!-- Global CSS -->
    {% render 'theme-head' %}
    <title>{{ shop.name }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% render 'social-meta-tags' %}
    <!-- content_header -->
    {{ content_for_header }}
  </head>
  <body id="{{ template }}" class="erickson-theme page-content{% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      {{ "general.accessibility.skip_to_content" | t }}
    </a>
      {% section 'static-password-header' %}
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'static-password-footer' %}
    </footer>
  </body>
</html>
