<!doctype html>
<!-- Powered by Shopify - https://shopify.com and proudly built by Whiley Mai -->
<html class="no-js supports-no-cookies pb-0" lang="{{ request.locale.iso_code }}">
  <head>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5bSQa22PWPRQzDv9K5seM7gC6e71C9BvLrDNqO0l" async></script>
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KWMFJSW');</script>
  <!-- End Google Tag Manager -->

    {% unless settings.header_font_new.system? and settings.base_font_new.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% unless settings.base_font_new.system? %}
      <link rel="preload" as="font" href="{{ settings.base_font_new | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    {% unless settings.header_font_new.system? %}
      <link rel="preload" as="font" href="{{ settings.header_font_new | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    {% if settings.favicon_logo != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon_logo | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'theme-head' %}
    {% render 'meta-tags' %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
    integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
      integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
      integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    {{ content_for_header }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  
  </head>

  <body id="{{ template }}" class="erickson-theme page-content">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWMFJSW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <noscript>
      <div class="enable-javascript-code">
        <span>
          {{-
            'general.accessibility.js_disabled_in_browser_html'
            | t: link: 'https://www.enable-javascript.com/', class: 'underlined-link', _blank: '_blank'
          -}}
        </span>
      </div>
    </noscript>
    <a class="skip-to-content-link visually-hidden sr-only" href="#MainContent">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>
    {%- liquid
      render 'loading'
      render 'mini-cart'
      sections 'header-group'
    -%}
    <main id="MainContent" class="content-for-layout main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
      {% if settings.show_back_to_top %}
        <a href="#" id="back-top" aria-label="back to top" tabindex="-1"></a>
      {% endif %}
    </main>
    {%- liquid
      render 'cookies'
      if settings.show_popup
        render 'popup'
      endif
      sections 'footer-group'
      render 'script-tags'
      render 'structured-data'
      render 'cart-add-on'
    -%}
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "V3PZwf",
      platform: "shopify"
    });
 klaviyo.enable("backinstock",{
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_text_align: "right",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive en email when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Sign Up for Notifications",
     subscription_success_label: "You are signed up for notifications",
     footer_content: '',
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#2A3640",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>
  </body>
</html>
