<link rel="stylesheet" href="{{ 'custom-related-collection.css' | asset_url }}">
<section class="cs-featured-collection mb-5 mt-5 related-products-">
    <h2 class="section-heading related-products-heading container">
        <span>Start With These Popular Layouts</span>
    </h2>
    <div class="featured-slider-container related-products-slider-container container">
      {% comment %} <button class="prev-arrow slick-arrow">&#8249;</button> {% endcomment %}
      <div class="featured-slider-wrapper">
        <div class="related-products-slider slick-slider">
        {%- for product in section.settings.collection.products -%}
          <div class="slick-slide">
            <div class="card hover-transition">
              <div class="card-image">
                <img 
                  src="{{ product.featured_image | img_url: 'master' }}" 
                  alt="{{ product.title }}"
                  class="product-image"
                  data-default-image="{{ product.featured_image | img_url: 'master' }}"
                >
              </div>
              
              <div class="card-info">
                <h5>{{ product.title }}</h5>
                <p>{{ product.price | money }}</p>
                <div class="atc-btn view-product-btn">
                  <a href="{{ product.url }}" class="global-btn">View Product</a>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
        </div>
      </div>
    </div>
</section>


<script>
  $(document).ready(function () {
    var relatedProductsSlider = $('.related-products-slider-container .slick-slider');

    relatedProductsSlider.slick({
      slidesToShow: {{ section.settings.numberOfSlides }},
      slidesToScroll: 1,
      infinite: false,
      autoplay: true,
      autoplaySpeed: 5000,
      arrows: false,
      dots: false,
      initialSlide: 0,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.cs-featured-collection .slick-list').css({
      'transition': 'transform 0.3s ease-out'
    });

    function handleTransform() {
      if (window.innerWidth > 1024) {
        // $('.cs-featured-collection .slick-list').css('transform', 'translate3d(17%, 0px, 0px)');
      } else {
        $('.cs-featured-collection .slick-list').css('transform', 'translate3d(0, 0px, 0px)');
      }
    }

    handleTransform();

    $('.cs-featured-collection .slick-next').on('click', function () {
      $('.cs-featured-collection .slick-list').css('transform', 'translate3d(0, 0px, 0px)');
    });

  });
</script>


{% schema %}
  {
    "name": "Custom Related Products",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
        },
        {
          "type": "range",
          "id": "numberOfSlides",
          "min": 3,
          "max": 6,
          "step": 1,
          "label": "Show Number of Slides",
          "default": 4
        }
    ],
    "presets": [
      {
        "name": "Custom Related Products",
        "settings": {
        }
      }
    ]
  }
{% endschema %}