{% comment %}
  Password form for password page
{% endcomment %}

<div id="password-form">
  <div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
      <section id="{{ section.id }}" class="section password-body-height" data-section-id="{{ section.id }}" data-section-type="content-block" aria-label="">
        <div class="container-fluid h-100">
          <div class="col-md-6 row align-items-center justify-content-center h-100 mx-auto">
            <div class="block-wrapper w-100">
              {% for block in section.blocks -%}
              {% case block.type -%}
              <div class="card h-100 border-0 justify-content-center">
                <div class="card-body">
                  {% when 'heading' %}
                  <h2 class="card-title text-center">{{ block.settings.heading | strip_html }}</h2>
                  {% when 'paragraph' %}
                  {% unless shop.password_message == blank %}
                    <p class="password-message card-text text-center w-100">{{ shop.password_message }}</p>
                  {% endunless %}
                  <p class="card-text text-center w-100">{{ block.settings.paragraph | strip_html }}</p>
                  {% when 'email_form' %}
                  {% render 'newsletter-form' %}
                </div>
              </div>
              {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "static-password-page",
  "settings": [
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>Subscribe to our emails</p>"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "Newsletter form",
      "limit": 1
    }
  ]
}
{% endschema %}

<style media="screen">
.password-body-height {
  height: 83vh;
}
</style>
