{% comment %}
  Password header section
{% endcomment %}

<header id="{{ section.id }}" class="password-header-height border-bottom">
  <section id="shopify-section-primary-nav" class="container-fluid d-block w-100 px-0" data-section-id="{{ section.id }}" data-section-type="header">
    <div class="py-3 container">
      <div class="row">
        <!-- Logo left -->
        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 my-auto">
          {% if section.settings.password_logo == blank %}
          <div class="h5 site-header-logo mb-0">
            <a class="site-header-logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
          </div>
          {% else %}
          <div class="logo text-left mb-3 mb-md-0">
            <a class="shop-link" href="{{ routes.root_url }}" aria-label="{{ section.settings.logo.alt | default: shop.name }}">
              {% render 'responsive-logo' with image: section.settings.password_logo, image_class: "d-block img-fluid header-logo", wrapper_class: "header-wrapper", img_width: section.settings.password_logo_max_width, max_width: section.settings.password_logo_max_width, max_height: section.settings.password_logo.height %}
            </a>
          </div>
          {% endif %}
        </div>
        <!-- Cart icons right -->
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 my-auto">
          {% render 'password-form' %}
        </div>
        <!-- /Cart icons right -->
      </div>
    </div>
  </section>
</header>

{% schema %}
{
  "name": "Password header",
  "settings": [
    {
      "type": "image_picker",
      "id": "password_logo",
      "label": "Upload a logo"
    },
    {
      "type": "range",
      "id": "password_logo_max_width",
      "label": "Logo width",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "default": 100
    }
  ]
}
{% endschema %}
