{% comment %}
  FAQs
{% endcomment %}

{% if section.blocks.size > 0 %}
  <div
    id="{{ section.id }}"
    class="product-accordion mt-2"
    data-section-id="{{ section.id }}"
    data-section-type="faq-section"
  >
    <div class="section-{{ section.id }}-padding container px-0">
      <div class="product-accordion-item col-md-12 mx-auto">
        {% for block in section.blocks %}
          <span class="faq-title mb-3 px-0">{{ block.settings.title | escape }}</span>
          <div class="content faq-content bg-transparent px-0 my-2 rte">
            {{ block.settings.body | strip_html }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
  "name": "FAQs",
  "class": "faqs-section",
	"max_blocks": 30,
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "Body text",
          "default": "<p>Add extra product information, such as size guides or technical data.</p>"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
